body {
    background-color: antiquewhite;
    color: dimgrey;
    font-family: monospace;
    font-size: 14px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

section {
    padding: 20px;
    margin-bottom: 10px;
}

#experience li {
    display: flex;
}

#first_date {
    padding-left: 49.5%;
}

#second_date {
    padding-left: 31%;
}

#third_date {
    padding-left: 36%;
}

#company {
    font-weight: bold;
    margin-bottom: 20px;
}

#connect ul {
    display: flex;
}


/* Padding is inside the element, margin is outside */
