body {
    background-color: antiquewhite;
    color: dimgrey;
    font-family: monospace;
    font-size: 14px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

section {
    padding: 10px;
    margin-bottom: 10px;
}

#experience ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.date {
    float: right;
}

.company {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

#connect ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}


/* Padding is inside the element, margin is outside */
